@import "../../styles/variables.scss";

.history-container {
  padding-bottom: 64px;
}

.history-button-group {
  width: calc(100% - 56px);
  background-color: $white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  .btn {
    &.history-button {
      background-color: transparent !important;
      border: none !important;
      color: $grey;
      width: calc(100% / 3);
      border-radius: 15px;
      padding: 12px;

      &.active {
        background: linear-gradient(135deg, #65fdf0 0%, #1d6fa3 100%);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px !important;
      }
    }
  }
}

.btn {
  &.filter-button {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: $white !important;
    border: none !important;
    padding: 12px;

    &.filtered {
      background: linear-gradient(135deg, #65fdf0 0%, #1d6fa3 100%);
    }
  }
}
