@import "../../styles/variables.scss";

.history-container {
  padding-bottom: 64px;

  .history-button-group {
    width: calc(100% - 56px);
    background-color: $white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  
    .btn {
      &.history-button {
        background-color: transparent !important;
        border: none !important;
        color: $grey;
        width: calc(100% / 3);
        border-radius: 15px;
        padding: 12px;
  
        &.active {
          background: linear-gradient(135deg, #65fdf0 0%, #1d6fa3 100%);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          border-radius: 15px !important;
        }
      }
    }
  }
  
  .btn {
    &.filter-button {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      background-color: $white !important;
      border: none !important;
      padding: 12px;
  
      &.filtered {
        background: linear-gradient(135deg, #65fdf0 0%, #1d6fa3 100%);
      }
    }
  }
}

.history-custom-modal {
  .separator {
    width: 100px;
    height: 5px;
    background-color: $grey-2;
  }

  .custom-daterangepicker {
    .DayPicker {
      border-bottom: 0.5px solid $daypicker-caption;
    }
  }

  .history-account-dropdown {
    width: 100%;
    max-width: 570px;
  }

  .history-modal-footer {
    max-width: 570px;

    .btn {
      &.footer-button {
        width: 50%;
        border-radius: 15px;
      
        &.cancel {
          background-color: transparent !important;
          border: 0.5px solid $daypicker-caption !important;
          color: $grey;
        }
      
        &.done {
          border: none;
          background: linear-gradient(135deg, #5efce8 0%, #736efe 100%);
        }
      }
    }
  }
}