@import "../../../styles/variables.scss";

.card-header {
  &.quick-history-list {
    border-bottom: 0.5px solid #DFE5F9;

    .box {
      min-width: 24px;
      min-height: 24px;
      background-color: red;
      border-radius: 50%;
    }
  }
}
