@import "../../styles/variables.scss";

.dashboard-container {
  padding-bottom: 64px;
}

.jumbotron {
  &.header-jumbotron {
    background-color: $white;
  }
}

.total-balance {
  line-height: 33px;
}